In [1]:
import datetime
import pandas as pd

In [2]:
date_1 = datetime.datetime.now()
print(date_1)
print(date_1.__repr__())
print(type(date_1))
date_2 = datetime.date.today()
print(date_2)
print(date_2.__repr__())
print(type(date_2))

2018-03-30 22:55:04.386992
datetime.datetime(2018, 3, 30, 22, 55, 4, 386992)
<class 'datetime.datetime'>
2018-03-30
datetime.date(2018, 3, 30)
<class 'datetime.date'>

#### from datetime.date and datetime.datetime to pandas Timestamp

In [3]:
print(pd.Timestamp(date_1))
print(pd.to_datetime(date_1))

2018-03-30 22:55:04.386992
2018-03-30 22:55:04.386992

In [4]:
date_3 = pd.Timestamp(1993, 6, 7, 15, 16, 0)
print(date_3)
date_3

1993-06-07 15:16:00

Timestamp('1993-06-07 15:16:00')

### .normalize

Normalizing in the context of datetimes means stripping all of the time in- formation and just leaving the date bits attached to the object. If everything is in a Timestamp this is trivial:

In [5]:
print(date_1)
date_1 = pd.Timestamp(date_1)
print(date_1)
print(date_1.normalize())

2018-03-30 22:55:04.386992
2018-03-30 22:55:04.386992
2018-03-30 00:00:00

### Horizon

https://en.wikipedia.org/wiki/ISO_8601

In [6]:
TODAY = pd.Timestamp('today').normalize()
print(TODAY)
print('timedelta:', datetime.timedelta(days=365))
END = TODAY + datetime.timedelta(days=365)
print(END)

2018-03-30 00:00:00
timedelta: 365 days, 0:00:00
2019-03-30 00:00:00

In [7]:
TODAY = pd.Timestamp('2018-06-01').normalize()
END = pd.Timestamp('2018-09-07').normalize()
print("TODAY:", TODAY)
print("END:", END)

TODAY: 2018-06-01 00:00:00
END: 2018-09-07 00:00:00

In [8]:
calendar = pd.DataFrame(index=pd.date_range(start=TODAY, end=END))
print(calendar.head(10))

Empty DataFrame
Columns: []
Index: [2018-06-01 00:00:00, 2018-06-02 00:00:00, 2018-06-03 00:00:00, 2018-06-04 00:00:00, 2018-06-05 00:00:00, 2018-06-06 00:00:00, 2018-06-07 00:00:00, 2018-06-08 00:00:00, 2018-06-09 00:00:00, 2018-06-10 00:00:00]

### Flows

In [9]:
print('Semi-month End:')
sm = pd.date_range(start=TODAY, end=END, freq='SM')
print('sm:',sm)
print('\n')
print('Month Start:')
ms = pd.date_range(start=TODAY, end=END, freq='MS')
print(ms)

Semi-month End:
sm: DatetimeIndex(['2018-06-15', '2018-06-30', '2018-07-15', '2018-07-31',
               '2018-08-15', '2018-08-31'],
              dtype='datetime64[ns]', freq='SM-15')


Month Start:
DatetimeIndex(['2018-06-01', '2018-07-01', '2018-08-01', '2018-09-01'], dtype='datetime64[ns]', freq='MS')

In [10]:
income = pd.DataFrame(
    data={'income': 1000},
    index=pd.date_range(start=TODAY, end=END, freq='SM'))
print(income.head())

            income
2018-06-15    1000
2018-06-30    1000
2018-07-15    1000
2018-07-31    1000
2018-08-15    1000

In [11]:
rent = pd.DataFrame(
    data={'rent': -1500},
    index=pd.date_range(start=TODAY, end=END, freq='MS')
)
print(rent.head())

            rent
2018-06-01 -1500
2018-07-01 -1500
2018-08-01 -1500
2018-09-01 -1500

In [12]:
#concat to flows rent and income
calendar = pd.concat([calendar, income], axis=1).fillna(0)
calendar = pd.concat([calendar, rent], axis=1).fillna(0)
calendar.head(7)

            income    rent
2018-06-01     0.0 -1500.0
2018-06-02     0.0     0.0
2018-06-03     0.0     0.0
2018-06-04     0.0     0.0
2018-06-05     0.0     0.0
2018-06-06     0.0     0.0
2018-06-07     0.0     0.0

In [25]:
calendar.loc[(calendar.index >= '2018-08-30') & (calendar.index <= '2019-02-02')]

            income    rent
2018-08-30     0.0     0.0
2018-08-31  1000.0     0.0
2018-09-01     0.0 -1500.0
2018-09-02     0.0     0.0
2018-09-03     0.0     0.0
2018-09-04     0.0     0.0
2018-09-05     0.0     0.0
2018-09-06     0.0     0.0
2018-09-07     0.0     0.0

In [26]:
calendar['total'] = calendar.sum(axis=1)
calendar['cum_total'] = calendar['total'].c

KeyError: 'total'