In [3]:
import pandas as pd
import xlrd

In [4]:
df = pd.read_excel('./data/xirr.xlsx', sheet_name='regular')
df.head()

        date  income  expenses
0 2017-01-01       0     -3000
1 2018-01-01    1000         0
2 2019-01-01    1000         0
3 2020-01-01    1000         0
4 2021-01-01    1000         0

In [5]:
df['total'] = df.income + df.expenses

In [8]:
df.head()

        date  income  expenses  total
0 2017-01-01       0     -3000  -3000
1 2018-01-01    1000         0   1000
2 2019-01-01    1000         0   1000
3 2020-01-01    1000         0   1000
4 2021-01-01    1000         0   1000

In [11]:
def xnpv(rate, values, dates):
    '''Replicates the XNPV() function'''
    min_date = min(dates)
    return sum([value / (1 + rate)**((date - min_date).days / 365) for value, date in zip(values, dates)])

In [13]:
values = df.total
dates = df.date
print('Values:', list(values))
print('Dates:', list(dates))

Values: [-3000, 1000, 1000, 1000, 1000]
Dates: [Timestamp('2017-01-01 00:00:00'), Timestamp('2018-01-01 00:00:00'), Timestamp('2019-01-01 00:00:00'), Timestamp('2020-01-01 00:00:00'), Timestamp('2021-01-01 00:00:00')]

In [19]:
min_date = min(dates)
rate = 0.05

In [20]:
date = dates[0]
value = values[0]
value / (1 + rate)**((date - min_date).days / 365)

-3000.0

In [21]:
date = dates[1]
value = values[1]
print(value)
value / (1 + rate)**((date - min_date).days / 365)

1000

952.3809523809523

In [22]:

intermediate_step = [
value / (1 + rate)**((date - min_date).days / 365) for value, date
in zip(values, dates)
]

In [23]:
print(intermediate_step)

[-3000.0, 952.3809523809523, 907.0294784580499, 863.837598531476, 822.5925101174964]

In [24]:
print(sum(intermediate_step))

545.8405394879746

In [25]:
xnpv(0.05, df.total, df.date)

545.8405394879746

In [27]:
print(xnpv(0.04, df.total, df.date))
print(xnpv(0.06, df.total, df.date))
print(xnpv(0.07, df.total, df.date))
print(xnpv(0.08, df.total, df.date))
print(xnpv(0.09, df.total, df.date))
print(xnpv(0.11, df.total, df.date))
print(xnpv(0.12, df.total, df.date))
print(xnpv(0.125, df.total, df.date))
print(xnpv(0.1255, df.total, df.date))
print(xnpv(0.1258, df.total, df.date))
print(xnpv(0.12583, df.total, df.date))
print(xnpv(0.12586, df.total, df.date))

629.8033770546891
464.97917229138625
387.0698546137953
311.9718737447598
239.55263528320688
102.25737356965487
37.15205553499129
5.437960934594116
2.2965732963834853
0.4143376303915147
0.22622105096445466
0.038123913067124704

In [28]:
from scipy.optimize import newton

In [29]:
def xirr(values, dates):
    '''
        Replicates the XIRR() function
        Internal Rate of Return
    '''
    return newton(lambda r: xnpv(r, values, dates), 0)

In [30]:
xirr(df.total, df.date)

0.1258660808393406

In [33]:
df = pd.read_excel('./data/xirr.xlsx', sheet_name='irregular')
df['total'] = df.income + df.expenses
df.head()

        date  income  expenses  total
0 2017-01-01      40     -3000  -2960
1 2017-01-25      40       -50    -10
2 2017-02-12      80       -50     30
3 2017-02-14     100       -30     70
4 2017-03-04     100       -20     80

In [34]:
xirr(df.total, df.date)

0.13812581670383556